/* .footer-bg{
    background-color: #31b1e5;
    padding: 30px 0px 0px;
}
.footer-para{
    color: #fff;
    font-size: 14px;
}
.footer-social{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 4px 8px;
}
.footer-social:hover{
    color: #31b1e5;
    background: #fff;
    cursor: pointer;
}
.footer-ul{
    color: #fff;
    font-size: 16px;
    list-style: none;
    padding-left: 10px;
}
.footer-li{
    margin: 12px 0px; 
}
.copyright{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
} */

.footer-para{
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 10px;
}
.footer-contact{
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    list-style: none;
    margin-left: 0px;
}
.footer-social{
    color: #FAE37D;
    border: 2px solid #FAE37D;
    border-radius: 50%;
    padding: 4px 8px;
}
.footer-social:hover{
    color: #395747;
    background: #FAE37D;
    cursor: pointer;
}
.footer-title{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-ul{
    color: #808080;
    list-style: none;
}
.footer-li{
    padding: 10px;
    border-bottom: 1px dashed #333;
}
.copyright-bg{
    padding: 15px 0px;
    background-color: #395747;
}
.copyright{
    color: #fff;
    font-size: 13px;
    margin-bottom: 0px;
}